body{
    text-align: center;
    color: #623412;
    background-color: #CDC4AA;
    margin: 0;
    padding: 25px 500px;
}
.box {
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9mm ridge #653818;
    padding: 40px;
    flex-direction: column;
    background-color: #DFD7C8;
}
.btn-container {
    display: flex;
    justify-content: center; 
}
.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 25px;
    margin: 15px;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}